* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn {
    padding: 6px 12px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.light {
    background: #f0f0f0;
    color: black;
    border: 1px solid #ccc;
}

.dark {
    background: black;
    color: white;
}

.cart, .favorite {
    font-size: 22px;
}


.products {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product {
    display: flex;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 20px;
}

.product img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.product-info {
    flex: 1;
}

.product-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}


button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #777;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s;
}

button:hover {
    background-color: #999;
    box-shadow: 0 0 20px rgba(153, 153, 153, 0.5);
    transform: scale(1.1);
}

button:active {
    background-color: #666;
    transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.about {
    width: 80%;
    margin: 40px auto;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}
